<app-header titulo="Card"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dolorum unde dolore iure, laudantium itaque corporis nihil velit cumque sint soluta, dicta eaque ipsa, rerum ea praesentium! Libero, asperiores illum!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://i.pinimg.com/originals/77/17/49/7717497fdd519dbd5dabcebe568bed42.jpg" alt="">
    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque incidunt delectus iure eius facere illo. Nemo placeat nobis corrupti voluptates veritatis autem est obcaecati esse voluptatem architecto minima, eius ullam?
    </ion-card-content>
  </ion-card>
</ion-content>
